.product-title {
  border-bottom: 4px solid black;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 18px;
}

.card-img-top {
  max-width: 400px;
  margin: 0 auto;
}

.quantity-ul {
  display: flex;
}

.quantity-ul li {
  padding: 10px;
  border: none;
  border-radius: 0;
}

.quantity-ul li:nth-of-type(2n+1) {
  border: 1px solid black;
}

.quantity-ul li:nth-of-type(2) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.comments .comment {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.comments img {
  height: 100px;
  width: 100px;
  max-width: none;
}

.comment-img {
  margin-right: 20px;
}

.new-comment {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.rate-star:hover {
  cursor: pointer;
}

/* .comment-alert{
  display: none;
} */

.comment-body-p-focus:focus {
  padding: 15px;
}

.comment-body p {
  word-break: break-word;
  text-align: justify;
}